html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #f4f4f4;
}

.nav {
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  padding: 10px;
  background-color: #4c5eaf;
}

.nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 12px;
  border-radius: 4px;
}

.nav a:hover {
  background-color: white;
  color: #4c5eaf;
}

.main {
  padding: 20px;
  max-width: 90%;
  margin: auto;
}

.h1 {
  color: black;
  text-align: left;
}

.table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table th,
.table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #4c5eaf;
  color: #fff;
}

.table td {
  background-color: #f9f9f9;
}

.table tr:nth-child(odd) td {
  background-color: #f2f2f2;
}

.table td[colspan="2"] {
  text-align: left;
}

@media (max-width: 768px) {
  .table {
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  .nav {
    flex-direction: column;
    align-items: center;
  }

  .nav a {
    margin: 10px 0;
  }

  .h1 {
    font-size: 1.4em;
  }

  .table {
    font-size: 10px;
  }

  .table td, .table th {
    padding: 6px;
  }
}